<style>

.cartao-content{
    max-width: calc(1300px - 20px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-content-cartao {
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 10px 12px;
    width: 220px;
    border-radius: 5px;
}

.main-content-cartao h1 {
    font-family: ubuntu;
    font-size: 1.2em;
    text-align: center;
   
}

.content-cartao {
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
}

.main-content-cartao p {
    color: #222;
    font-family: ubuntu;
    font-size: 1.2em;
    text-align: center;
}

.cartao {
    height: 120px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: block;
}

.star-cartao {
    width: 22px;
}

.class-cartao{
    color: #ccc;
    font-size: 0.7em;
    margin-bottom: 5px;
}

.btn-cartao {
    border: 1px solid #3AB4F6;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 150px;
    color: #3AB4F6;
    
}

.main-cartao-content, .btn-cartao{
    font-weight: 800;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

</style>  

